.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: inherit;
}

.menu-item:hover {
  color: var(--text);
  background-color: var(--bgHover);
}

.active {
  color: var(--text);
  background-color: var(--bgHover);
  text-shadow: 1px 0 0 var(--text);
}
