.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;

  padding: 0;
  border-radius: 5px;
}
.close:hover {
  opacity: 0.9;
}
.close:before,
.close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
